## Python

Online Python Shell: https://www.python.org/shell/


Run Python code online: https://py3.codeskulptor.org/

Try Jupyter Notebook : https://mybinder.org/v2/gh/ipython/ipython-in-depth/master?filepath=binder/Index.ipynb

### Hello World

In [41]:
print('Hello World!')

Hello World!

### Basic objects -Strings, Integers & Floats,Booleans
#### Strings

Strings are just array/list of the characters

In [42]:
string1 = 'This is string1'
string2 = "this is string2"

In [44]:
type(string2)

str

In [50]:
string1 #print(string1)

'This is string1'

In [51]:
string2

'this is string2'

In [54]:
#Add two strings
string1 + ' ' + string2

'This is string1 this is string2'

In [67]:
#Indexing
name = 'Shashank Shekhar'

name[-7:]

'Shekhar'

In [66]:
name[9:16]

'Shekhar'

In [63]:
# Slicing
name[0:3]

'Sha'

In [72]:
name[:8]

'Shashank'

In [64]:
# Length of String
len(name)

16

In [79]:
# Reverse
name[::-1]

'rahkehS knahsahS'

#### Integers and Floats

In [81]:
# Addition
1 + 5

6

In [82]:
a = 4
b = 6
c = 7.6

In [83]:
type(a), type(b), type(c)

(int, int, float)

In [84]:
a + b

10

In [85]:
a - b

-2

In [86]:
a / b

0.6666666666666666

In [89]:
# Integral Division
b // a

1

In [90]:
# Modulas
b % a

2

In [94]:
# Exponents
a ** 2

16

In [98]:
(2 ** 32) // 2, ((2 ** 32) // 2) -1

(2147483648, 2147483647)

In [99]:
d = a + c
d

11.6

In [100]:
type(d)

float

In [102]:
a, b = b, a

In [103]:
a, b

(6, 4)

#### Booleans

In [104]:
x = True
y = False

In [105]:
x

True

In [106]:
x and y

False

In [107]:
x or y

True

In [112]:
5 <= 4

False

### Complex Objects -Lists, Tuples andSets
#### Lists

Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner.

In [134]:
number_list = [1,2,3,4]

In [135]:
number_list

[1, 2, 3, 4]

In [136]:
len(number_list)

4

In [137]:
number_list[-1]

4

In [138]:
sum(number_list)

10

In [139]:
number_list.append(67)

In [140]:
number_list

[1, 2, 3, 4, 67]

In [141]:
sum(number_list)

77

In [142]:
name_list = ['Shashank', 'Sourodeep', 'Sai']

In [145]:
name_list[2]

'Sai'

In [147]:
# String formatting
print(name_list[0] + ' is instructor of this course')

Shashank is instructor of this course

In [148]:
print('{} is instructor of this course {}'.format(name_list[0], a))

Shashank is instructor of this course 6

In [149]:
print(f'{name_list[0]} is instructor of this course, {name_list[1]} is TA.')

Shashank is instructor of this course, Sourodeep is TA.

In [150]:
print(f'{4**3} is cube of 4')

64 is cube of 4

In [5]:
str(4**3) + ' is cube of 4'

'64 is cube of 4'